<?xml version="1.0" encoding="UTF8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
  <display-name>Archetype Created Web Application</display-name>
  <description>
      Servlet which connects to Derby
    </description>
    <display-name>Derby, Tomcat</display-name>

    <servlet>
        <servlet-name>SelectAllCars</servlet-name>
        <servlet-class>derbyClientWeb.Application</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectAllCars</servlet-name>
        <url-pattern>/SelectAllCars</url-pattern>
    </servlet-mapping>
    <context-param>
    <param-name>log4j2</param-name>
    <param-value>/WEB-INF/classes/log4j2.xml</param-value>
</context-param>

</web-app>
